.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.edge.unmarked {
  fill: none;
  stroke: #AAA;
  stroke-width: 1.5px;
  stroke-dasharray: 5,5;
}

path.edge.marked {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
  stroke-dasharray: 5,0;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}